 body{
    background: linear-gradient(76.5deg, rgb(129, 252, 255) 0.4%, rgb(255, 175, 207) 49.8%, rgb(255, 208, 153) 98.6%);
    }
 
 .Weather {
    border: 4px solid black;
    background:#FECCCB;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    max-width: 600px;
  }
  
  .Weather h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    margin: 30px 0 20px 0;
    line-height: 29px;
  }
  
  .Weather ul {
    text-align: center;
    margin: 4px;
    padding: 0;
  }
  
  .Weather li {
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    list-style: none;
  }
  
  .Weather canvas {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 55px;
    line-height: 64px;
    font-weight: 400;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 400;
    position: relative;
    line-height: 4;
    top: -34px;
    margin-left: 0px;
  }